<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Showroom Mobil</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
<nav class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Mr.Happy</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li >
        <a href="{% url 'car_list' %}">Daftar Mobil</a>
      </li>
      <li >
        <a href="{% url 'add_car' %}">Tambah Mobil</a>
      </li>
    </ul>
  </div>
</nav>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% block content %}
    {% endblock %}
</body>
</html>
